body {
    margin: 0 auto;
    padding-top: 100px;
}
.box {
    border: 1px solid black;
    width: 500px;
    text-align: center;
} 
.box:first-child{
    margin-right: 5px;
}

.item-img {
    width: 400px;
}

.main {
    display: flex;
    justify-content: center;
}
button {
    width: 150px;
    height: 100px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px dotted #333;
}

.win {
    border: 10px solid green;
     color:green;
    }
.lose {
    border: 10px solid red; 
    color: red;
}
.draw {
    border: 10px solid black;
    color: black;
}
